// $background: #52489c;
// $text: white;
// $gray: #fcd303;
// $blue: #5b78c7;
$background: white;
$text: rgb(27, 27, 27);
$gray: rgb(49, 49, 49);
$blue: lightgray;
$magenta: #e21278;
$pink: #eb4f91;
$dark-blue: #056bad;
$light-blue: #3899c0;
$green: #95be17;
$yellow: #f9bc23;
