// $primary: #f4a261;
// $secondary: #2a9d8f;
// $tertiary: #e76f51;

// blue-purple #212f45
// $primary: white;
// // $secondary: #fbb703;
// $secondary: #ffba49;
// $tertiary: #023047;
// $lightWhite: rgb(255, 238, 199);

// $primary: #52796f;
// $secondary: #354f52;
// $tertiary: #cad2c5;

$primary: black;
$secondary: white;
$tertiary: #fdc723;
$lightWhite: rgb(255, 238, 199);
