@import "../../utilities/_variables";

.cont-about {
  overflow: hidden;
  font-size: 1.1rem;
  border-radius: 6px;
  box-shadow: 0 3px 5px 2px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -130px;
  &:after {
    content: "";
    display: block;
    height: 230px;
  }
}

.text {
  max-width: 65%;
}
.about-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  h1{
    margin-bottom: 50px;
  }
  .girl-on-books-img {
    width: 100%;
    height: auto;
  }
  .read-more {
    color: black;
    font-weight: 600;
    position: relative;
    top: 295px;
    right: 40px;
    &:hover {
      color: $dark-blue;
    }
  }
  .wiki-link {
    width: 500px;
    a {
      text-decoration: none;
    }
  }
}
@media only screen and(max-width: 768px) {
  .cont-about {
    font-size: 12px;
    margin-top: 100px; 
  }
  .about-page {  
    h1{
    margin-bottom: 20px;
  }
    .girl-on-books-img {
      width: 400px;
    }
    .read-more {
      top:235px;
    }
  }
}
