@import "../../utilities/_variables";

// --------------- ABOUT PAGE ------------------
body {
  background-color: $background;
}
.cont-about {
  // background-color: lighten($background, 7%);
  border-radius: 6px;

  box-shadow: 0 3px 5px 2px rgba(0, 0, 0, 0.2);
  padding: 25px;
  // margin-top: 8%;
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -120px;
  &:after {
    content: "";
    display: block;
    height: 120px;
  }
}
.text {
  width: 75%;
}
.about-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  .girl-on-books-img {
    width: 100%;
    height: auto;
  }
  .read-more {
    color: black;
    font-weight: 600;
    position: relative;
    top: 292px;
    right: 40px;
    &:hover {
      color: $background;
    }
  }
  .wiki-link {
    width: 500px;
    a {
      text-decoration: none;
    }
  }
}
@media only screen and(max-width: 768px) {
  cont-about {
    font-size: 6vw;
    min-width: 100%;
  }
}
