@import "../../utilities/_variables";

.contact-cont {
  overflow: hidden;
  background-color: lighten($background, 7%);
  border-radius: 6px;
  box-shadow: 0 3px 5px 2px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin-top: 80px;
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -120px;
  &:after {
    content: "";
    display: block;
    height: 110px;
  }
}
.contact-page {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-part {
  text-align: center;
}
.contact-part {
}
.fb-icon {
  color: #2772aeff;
  position: relative;
  font-size: 2.2rem;
}
.send {
  background-color: inherit;
  cursor: pointer;
  border: none;
  color: $text;
  margin: 50px;
  div {
    color: $text;
  }
  .icon {
    color: #fcbd35ff;
    height: 80px;
    width: 80px;
  }
}
.secretary-img {
  width: 230px;
  height: 140px;
}
@media (max-width: 768px) {
  .contact-page {
    flex-direction: column;
  }
  .text-part {
    margin-top: 35px;
  }
}

//----------MODAL ANIMATION ---------
// .out {
//   transform:scale(1);
//   animation:unfoldOut 1s .3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
//   .modal-background {
//     .modal {
//       animation: zoomOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
//     }
//   }
// }
// .send {
//   transform:scale(1);
//   .modal-background {
//     background:rgba(0,0,0,.0);
//     animation: fadeIn .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
//     .modal {
//       opacity:0;
//       animation: scaleUp .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
//     }
//   }
//   + .content {
//     animation: scaleBack .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
//   }
//   &.out {
//     animation: quickScaleDown 0s .5s linear forwards;
//     .modal-background {
//       animation: fadeOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
//       .modal {
//          animation: scaleDown .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
//       }
//     }
//     + .content {
//       animation: scaleForward .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
//     }
//   }
// }
