@import "../../utilities/_variables";

//---------------- GALLERY PAGE ---------------
.gallery-cont {
  overflow: hidden;
  font-size: 1.2rem;
  border-radius: 6px;
  box-shadow: 0 3px 5px 2px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -130px;
  &:after {
    content: "";
    display: block;
    height: 110px;
  }
}
.thumbnail {
  border-radius: 10px;
  width: 200px;
  height: 170px;
}
.icon {
  margin-left: 10px;
  border: 1px solid white;
  font-size: 1.5rem;
  padding: 2px;
  border-radius: 100%;
}
.icon-he {
  margin-right: 10px;
}
.b-more {
  margin: auto;
  margin-top: 60px;
  background-color: #fff;
  // background: linear-gradient(0.25turn, $pink, #3899c0, #056bad);
  // border: 2px solid #fff;
  // border-radius: 50px;
  padding: 6px 12px;
  position: relative;
  display: flex;
  justify-content: center;
  &:hover {
    transition: 0.3s;
  }
}
.more {
  color: gray;
  font-size: 1.2rem;
  &:hover {
    text-decoration: none;
  }
}