@import "../../utilities/_variables";

// ---------- HOME PAGE ----------
.home-cont {
  font-family: Arial;
  font-size: 1.2rem;
  border-radius: 6px;
  box-shadow: 0 3px 5px 2px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -120px;
  &:after {
    content: "";
    display: block;
    height: 110px;
  }
}
.la-salle-home {
  width: 80%;
  margin-bottom: 30px;
}
.wrap-column {
  display: flex;
}
.liens {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin: 5px;
  border: 1px solid $yellow;
  border-radius: 100px;
  a {
    color: black;
    padding: 30px;
    &:hover {
      text-decoration: none;
      color: black;
    }
  }
}
.labo {
  border: 1px solid $magenta;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .home-cont {
    margin-top: 150px;
  }
}
