@import "../../utilities/_variables";

@import "~react-image-gallery/styles/scss/image-gallery.scss";

body {
  background-color: $background;
}
* {
  // ---- UNCOMMENT TO CHANGE TO HEBREW -----
  // direction: rtl;
}
//---------------- GALERY PAGE ---------------
.gallery-cont {
  margin-top: 60px;
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -120px;
  &:after {
    content: "";
    display: block;
    height: 120px;
  }
}
// ---------- HOME PAGE && INFOS ----------
.home-cont {
  font-size: 1.2rem;
  border-radius: 6px;
  box-shadow: 0 3px 5px 2px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -120px;
  &:after {
    content: "";
    display: block;
    height: 120px;
  }
}
@media screen and(max-width: 768px) {
  .gallery-cont {
    margin-top: 75px;
  }
}
