@import "../../utilities/_variables";

body {
  background-color: $background;
}
* {
  // ---- UNCOMMENT TO CHANGE TO HEBREW -----
  // direction: rtl;
}

// --------------- HOME PAGE ------------------
.home-page {
}
//-------------- FORUM PAGE -------------
.forum-page {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  .chat-image {
    width: 60%;
    height: auto;
  }
}
