@import "../../utilities/_variables";

.table-cont {
  margin-right: 100px;
  // height: 500px;
}
table {
  margin-bottom: -130px;
  // &:after {
  //   content: "";
  //   display: block;
  //   height: 110px;
  // }
  border-collapse: collapse;
  margin: 15px;
  font-size: 0.9em;
  min-width: 310px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  text-align: left;

  thead tr {
    background-color: $light-blue;
    font-size: 1.3rem;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }
  th,
  td {
    padding: 3px 6px;
  }
  tbody tr {
    border-bottom: 1px solid #dddddd;
    &:nth-of-type(even) {
      border-bottom: 2px solid $blue;
      background-color: rgb(221, 219, 219);
    }
  }
}
@media only screen and (max-width: 768px) {
  .table-cont {
    margin: 0;
  }
}
