@import "../utilities/_variables";

.footer-comp {
  // background-color: lighten($background, 7%);
  border-top: 1px solid gray;
  background-color: $background;
  font-weight: 500;
  opacity: 0.7;
  height: 142px;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  bottom: 0;
}
div {
  color: $text;
}
.social-menu {
  list-style: none;
  display: flex;
  a {
    // margin-left: 2px;
  }
  .fa {
    font-size: 2.5rem;
    // color: $gray;
  }
}
.facebook {
  color: #2772aeff;
}
.instagram {
  color: #fcbd35ff;
}
.youtube {
  color: #e92d86ff;
}
.phone {
  color: $dark-blue;
  font-size: 1.2rem;
}
.map {
  color: $pink;
  font-size: 1.4rem;
  margin-left: 3px;
  margin-right: 3px;
}
.phone-cont {
  // background-color: pink;
  // display: flex;
  // flex-direction: row-reverse;
}
@media screen and (max-width: 1080px) {
  .footer-comp {
    // display: block;
    // position: relative;
  }
  //   font-size: 10px;
  // }
  // .social-menu {
  //   list-style: none;
  //   display: flex;
  //   a {
  //     margin-left: 10px;
  //   }
  //   .fa {
  //     font-size: 1rem;
  //   }
  // }
}
