@import "../utilities/_variables";

.footer-container {
  border-top: 1px solid gray;
  background-color: white;
  opacity: 0.8;
  height: 120px;
  position: fixed;
  bottom: 0;
}
.footer-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-menu-footer {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 120px;
  margin-right: 120px;

  .fa-footer {
    font-size: 2.5rem;
  }
}
.footer-icons {
}
.address {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-us {
}
.facebook {
  color: $dark-blue;
}
.instagram {
  color: $magenta;
}
.youtube {
  color: $yellow;
}

@media screen and (max-width: 768px) {
  .footer-container {
  }
  .social-menu-footer {
    margin-right: 28px;
    margin-left: 28px;
    .fa-footer {
      font-size: 38px;
    }
  }
}
