@import "../utilities/_variables";

.footer-comp {
  // background-color: lighten($background, 7%);
  border-top: 2px solid gray;
  background-color: $background;
  font-weight: 500;
  opacity: 0.9;
  height: 11vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
}
div {
  color: $text;
}
.social-menu {
  list-style: none;
  display: flex;
  a {
    margin-left: 20px;
  }
  .fa {
    font-size: 3rem;
    // color: $yellow;
  }
}
.facebook {
  color: #2772aeff;
}
.instagram {
  color: #fcbd35ff;
}
.youtube {
  color: #e92d86ff;
}
@media screen and (max-width: 1080px) {
  .footer-comp {
    display: block;
    position: relative;
  }
  //   font-size: 10px;
  // }
  // .social-menu {
  //   list-style: none;
  //   display: flex;
  //   a {
  //     margin-left: 10px;
  //   }
  //   .fa {
  //     font-size: 1rem;
  //   }
  // }
}
