@import "../utilities/_variables";

.cont-logo {
  position: absolute;
  top: 0;
  margin: auto;
  z-index: 20;
  .logo {
    height: 120px;
    width: 120px;
  }
}
.logo-he {
  right: 0;
}
.navbar {
  height: 10vh;
  background: $background;
}
.navbar-container {
  display: flex;
  list-style: none;
  width: 550px;
  margin: auto;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
}

.hebrew {
  direction: rtl;
}
.nav-links {
  height: 40px;
  color: $text;
  text-decoration: none;
  font-size: 20px;
  &:hover {
    text-decoration: none;
    color: $text;
  }
}
.nav-links:after {
  content: "";
  display: block;
  margin: auto;
  height: 1px;
  width: 0px;
  transition: width 0.5s ease, background-color 0.5s ease;
}
.nav-links:hover:after {
  width: 100%;
  background: $yellow;
}
.main-nav-active {
  // border-bottom: 1px solid $yellow;
  .fa-nav {
    margin-left: 5px;
    display: inline-block;
    // display: none;
  }
  .fa-nav-hebrew {
  }
}
.burger-icon-container {
  display: none;
}
.fa-nav,
.fa-home,
.fa-close {
  display: none;
  margin-left: 5px;
  margin-right: 5px;
}
.galery {
  .fa-nav {
    color: $pink;
  }
}
.home {
  .fa-nav {
    color: $light-blue;
  }
}
.about {
  .fa-nav {
    color: $yellow-la-salle;
  }
}
.contact {
  .fa-nav {
    color: $green;
  }
}

@media screen and (max-width: 768px) {
  .cont-logo {
    right: 0;
  }
  .burger-icon-container {
    display: block;
    cursor: pointer;
    position: absolute;
    font-size: 50px;
    color: $dark-blue;
    top: 0;
    left: 20px;
  }
  .fa-close {
    display: block;
    position: absolute;
    top: 5px;
    left: 200px;
    font-size: 40px;
    color: white;
  }
  .fa-home {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 30px;
    color: white;
  }
  .navbar-container {
    background-color: $dark-blue;
    display: block;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
  }
  .transition {
    transition: 0.5s;
  }
  .navbar-container-he {
    right: 0;
  }
  .nav-links {
    height: 8vh;
    padding: 8px 8px 8px 32px;
    display: block;
    background-color: #111;
    color: white;
    transition: 0.3s;
    font-size: 22px;
    font-weight: 500;
    // margin-bottom: 10vh;
    &:hover {
      color: #f1f1f1;
    }
  }
  .nav-links:after {
    display: none;
  }
  .galery {
    background-color: $pink;
  }
  .home {
    background-color: $light-blue;
  }
  .about {
    background-color: $yellow-la-salle;
  }
  .contact {
    background-color: $green;
  }
  .fa-nav {
    margin-right: 10px;
    margin-left: 10px;
  }
  .main-nav-active {
    .fa-nav {
      display: none;
    }
  }
}
@media screen and (max-height: 450px) {
  .navbar-container {
    padding-top: 15px;
  }
  .nav-links {
    font-size: 18px;
  }
}
// ----- CIRCLE NAVBAR STYLE RESPONSIVE ------

// .logo {
//   // display: none;
//   height: 80px;
//   width: 80px;
//   position: absolute;
//   left: 5%;
//   top: 50%;
//   transform: translate(-5%, -50%);
//   z-index: 6;
// }
// .main-nav-active {
//   border-bottom: none;
//   .fa-nav {
//     display: none;
//   }
// }
// .navbar {
//   position: relative;
// }
// .burger-icon-container {
//   display: block;
//   font-size: 40px;
//   position: absolute;
//   cursor: pointer;
//   right: 5%;
//   top: 50%;
//   transform: translate(-5%, -50%);
//   z-index: 3;
// }

// .navbar-container {
//   top: 0px;
//   left: 0px;
//   position: fixed;
//   background: $background;
//   height: 100vh;
//   width: 100%;
//   flex-direction: column;
//   clip-path: circle(108px at 95% -5%);
//   -webkit-clip-path: circle(108px at 95% -5%);
//   transition: all 1s ease-out;
//   pointer-events: all;
//   z-index: 2;
// }
// .navbar-container.open {
//   clip-path: circle(1000px at 95% -4%);
//   -webkit-clip-path: circle(1000px at 95% -4%);
//   pointer-events: all;
//   z-index: 2;
// }
