@import "../utilities/_variables";

.cont-nav {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-links {
  height: 100%;
  color: white;
  margin: 0 15px;
  font-weight: 600;
  &:hover {
    text-decoration: none;
    border-bottom: 1px solid white;
    color: white;
  }
}
.main-nav-active {
  border-bottom: 1px solid white;
  .fa-nav {
    display: inline-block;
    color: #f0df00;
  }
}
.fa-nav {
  display: none;
  margin: 0 6px;
}
@media only screen and (max-width: 768px) {
  .fa-nav {
    display: none;
  }
  .nav-links {
    margin: 0 10px;
  }
}
@media only screen and (max-width: 518px) {
  .nav-links {
    display: block;
  }
  .cont-nav {
    margin-top: 20px;
  }
}
