@import "../utilities/_variables";

.logo {
  height: 50px;
  width: 50px;
}
.navbar {
  height: 10vh;
  background: $lightBlue;
}

.navbar-container {
  display: flex;
  list-style: none;
  margin: auto;
  width: 70%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
}
.nav-links {
  height: 40px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  &:hover {
    text-decoration: none;
    color: white;
  }
}
.nav-links:after {
  content: "";
  display: block;
  background-image: url(../images/star-line.png);
  background-size: 30%;
  margin: auto;
  height: 1px;
  width: 0px;
  // background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}
.nav-links:hover:after {
  width: 100%;
  background: $yellow;
}
.main-nav-active {
  // border-bottom: 1px solid $yellow;
  .fa-nav {
    margin-left: 5px;
    display: inline-block;
    color: $yellow;
  }
}
.burger-icon-container {
  display: none;
}
.fa-nav {
  display: none;
}

@media screen and (max-width: 768px) {
  .logo {
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 6;
  }
  .main-nav-active {
    border-bottom: none;
    .fa-nav {
      display: none;
    }
  }
  .navbar {
    position: relative;
  }
  .burger-icon-container {
    display: block;
    font-size: 40px;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 3;
  }

  .navbar-container {
    top: 0px;
    left: 0px;
    position: fixed;
    background: $lightBlue;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(108px at 95% -5%);
    -webkit-clip-path: circle(108px at 95% -5%);
    transition: all 1s ease-out;
    pointer-events: all;
    z-index: 2;
  }
  .navbar-container.open {
    clip-path: circle(1000px at 95% -4%);
    -webkit-clip-path: circle(1000px at 95% -4%);
    pointer-events: all;
    z-index: 2;
  }
}
