@import "../utilities/_variables";

.side-menu {
  position: relative;
  top: 100px;
  right: 50px;
  img {
    width: 208px;
    float: right;
  }
  .list {
    float: right;
    position: absolute;
    right: -18px;
    width: 300px;
  }
  ul {
    text-align: right;

    li {
      cursor: pointer;
      list-style: none;
      padding-top: 10px;
      padding-bottom: 15px;
      a {
        text-decoration: none;
        color: $text;
      }
    }
  }
}
.webviewer {
  height: 100vh;
}
