@import "../utilities/_variables";
.slider {
  position: relative;
  margin-top: 80px;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image {
  max-width: 450px;
  // max-height: 700px;
  // width: 100vw;
  height: auto;
  border-radius: 10px;
}
.right-arrow {
  position: absolute;
  top: 50%;
  right: 50px;
  font-size: 2rem;
  color: $gray;
  z-index: 10;
  cursor: pointer;
  color: $pink;
}
.left-arrow {
  position: absolute;
  left: 50px;
  top: 50%;
  font-size: 2rem;
  color: $gray;
  z-index: 10;
  cursor: pointer;
  color: $pink;
}
.slide {
  opacity: 0;
  transition-duration: 1s ease;
}
.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
@media screen and(max-width: 768px) {
  .contact-cont{
    margin-top: 100px;
  }
  .slider{
    margin-top: 150px;
  }
}
