// ------------------ SOCIAL ICONS ------------------
@import "../utilities/_variables";

.social-menu {
  position: absolute;
  top: 180px;
  left: 25%;
  li {
    list-style: none;
    margin: 0 15px;
  }
}
.fa {
  font-size: 30px;
  position: relative;
  margin-top: 15px;
  line-height: 60px;
  transition: 0.6s;
  color: $secondary;
}
.social-icons {
  position: relative;
  margin-left: 30%;
  display: block;
  width: 60px;
  height: 60px;
  background-color: $lightWhite;
  border: 1px solid $secondary;
  border-radius: 50%;
  text-align: center;
  transition: 0.6s;
  margin-top: 15px;
  &:hover {
    transform: translate(0, -10px);
  }
}
