@import url("https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon:ital@1&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import "./utilities/_variables.scss";

body {
  // margin: auto;
  background-color: pink;
  font-family: "Varela Round", sans-serif;
  color: $tertiary;
}
